---
layout: default
---

<style>
.home-layout {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.home-layout figure {
    max-width: 260px;
    height: auto;
    text-align: right;
    margin: 0;
    flex: 0 0 260px;
}

.home-layout figure img {
    width: 220px;
    max-width: 100%;
    height: auto;
}

.content {
    flex: 1;
    min-width: 0;
}

@media screen and (max-width: 700px) {
    .home-layout {
        display: block;
    }

    .home-layout figure {
        max-width: 220px;
        margin: 0 auto 2rem auto;
        text-align: center;
    }

    .home-layout figure img {
        width: 180px;
    }

    .content {
        width: 100%;
    }

    .content h2 {
        font-size: 2rem !important;
    }

    .post-link {
        font-size: 1.6rem;
        line-height: 1.2;
    }
}
</style>

<div class="home-layout">

  <!-- <div class="left-image">
    <img src="/assets/img/profile/pingwiniak.png" alt="">
    <figcaption style="font-size: 0.8em; color: #000;">
      by Łukasz Skrzeszewski
  </figcaption>
  </div> -->

  <figure style="max-width: 260px; height: auto; text-align: right;">
    <img src="/assets/img/profile/pingwiniak.png" alt="">
    <figcaption style="font-size: 0.8em; color: #000;">
      <div style="height: 0.5em;"></div>Łukasz Skrzeszewski, <em>The Penguin</em> (2024)
    </figcaption>
  </figure>

  <div class="content">

    {{ content }}

    <h2 style="font-size: 2.5em;">Posts</h2>

    <ul class="post-list">
      {% for post in site.posts %}
        <li>
          <span class="post-meta">
            {{ post.date | date: "%b %-d, %Y" }}
          </span>

          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title }}
            </a>
          </h3>
        </li>
      {% endfor %}
    </ul>

  </div>

</div>